{% extends "forms_base.html" %}
  {% block content %}
  <!-- Main content -->
  <div class="main-container"> <!-- Adjust margin-left to match sidebar width -->
    <h1>BONDS</h1>
    <form method="POST"  action='{{ url_for("forms.bonds")}}'>
      <!-- CSRF Token (if you're using Flask-WTF or a similar library for CSRF protection) -->
  
      <!-- Bond Information -->
      <div class="form-group">
          <label for="issuer">Issuer:</label>
          <input type="text" class="form-control" id="issuer" name="issuer" placeholder="Issuer Name" required>
      </div>
  
      <div class="form-group">
          <label for="face_value">Face Value:</label>
          <input type="number" class="form-control" id="face_value" name="face_value" placeholder="Face Value" required>
      </div>
  
      <div class="form-group">
          <label for="yield_rate">Yield Rate (%):</label>
          <input type="number" class="form-control" id="yield_rate" name="yield_rate" placeholder="Yield Rate" required>
      </div>
  
      <div class="form-group">
          <label for="maturity_date">Maturity Date:</label>
          <input type="date" class="form-control" id="maturity_date" name="maturity_date" required>
      </div>
  
      <!-- Submit Button -->
      <div class="button-group">
        <button type="button" class="btn btn-close">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  {% endblock %}