{% extends "forms_base.html" %}
  {% block content %}
  <!-- Main content -->
  <div class="main-container"> <!-- Adjust margin-left to match sidebar width -->
    <h1>CASH ACCOUNTS</h1>
    <form method="POST" action='{{ url_for("forms.cash")}}'>
      <!-- CSRF Token (if you're using Flask-WTF or a similar library for CSRF protection) -->
  
      <!-- Cash Account Information -->
      <div class="form-group">
          <label for="account_name">Account Name:</label>
          <input type="text" class="form-control" id="account_name" name="account_name" placeholder="Account Name" required>
      </div>
  
      <div class="form-group">
          <label for="account_type">Account Type:</label>
          <input type="text" class="form-control" id="account_type" name="account_type" placeholder="Account Type" required>
      </div>
  
      <div class="form-group">
          <label for="balance">Balance (USD):</label>
          <input type="number" step="0.01" class="form-control" id="balance" name="balance" placeholder="Account Balance" required>
      </div>
  
      <div class="form-group">
          <label for="currency">Currency:</label>
          <input type="text" class="form-control" id="currency" name="currency" placeholder="Currency" required>
      </div>
  
      <!-- Submit Button -->
      <div class="button-group">
        <a type="button" class="btn btn-close" href="/liquid-assets">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  
  </div>
  {% endblock %}