{% extends "forms_base.html" %}
  {% block content %}
  <!-- Main content -->
  <div class="main-container"> <!-- Adjust margin-left to match sidebar width -->
    <h1>STOCKS</h1>
    <form method="POST" action='{{ url_for("forms.stocks")}}'>
      <!-- CSRF Token (if you're using Flask-WTF or a similar library for CSRF protection) -->
  
      <!-- Stock Information -->
      <div class="form-group">
          <label for="symbol">Stock Symbol:</label>
          <input type="text" class="form-control" id="symbol" name="symbol" placeholder="Stock Symbol" required>
      </div>
  
      <div class="form-group">
          <label for="name">Stock Name:</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Stock Name" required>
      </div>
  
      <div class="form-group">
          <label for="quantity">Quantity:</label>
          <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Quantity" required>
      </div>
  
      <div class="form-group">
          <label for="purchase_price">Purchase Price (USD):</label>
          <input type="number" step="0.01" class="form-control" id="purchase_price" name="purchase_price" placeholder="Purchase Price" required>
      </div>
  
      <!-- Submit Button -->
      <div class="button-group">
        <a type="button" class="btn btn-close" href="/equity-assets">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  
  </div>
  {% endblock %}