{% extends "base.html" %}
  {% block content %}
    <!-- Main content -->
    <div class="main-container"> <!-- Adjust margin-left to match sidebar width -->
        <!-- Your main content goes here -->
        <p class="disclaimer"> <span> Hi. </span> You many need to update some data manually. See user manual. </p>
        <h2 class="main-title">Alternative Investments</h2>
        <a type="button" class="new-btn extra" href="/forms/private-equity-forms">New</a>
        <div class="total-value">
          <h3 class="title">TOTAL PORTFOLIO VALUE</h3>
          <h4 class="value">$ {{data['Alternative-Investments']['total_value']}}</h4>
        </div>
        <div class="assets">
          <table>
            <tr>
              <th>FUND NAME</th>
              <th>DATE INVESTED</th>
              <th>COMMITMENT AMOUNT</th>
              <th>CURRENT VALUE</th>
              <th></th>
            </tr>
          </table>
        </div>
    </div>

    <script>
      const table = document.querySelector(".assets table");
      const assetsData = [];
    
      let serializedStock = {}
      // Iterate through the list of class objects and convert them to JSON serializable dictionaries
      '{% for asset in data["Alternative-Investments"]["private_equity"] %}'
          // Call the to_string() method to get a JSON serializable representation
          serializedStock = JSON.parse('{{ asset.to_dict() | tojson | safe }}');
          
          // Add the serialized representation to the 'stocksData' array
          assetsData.push(serializedStock);
      '{% endfor %}'

      const populateUl = () => {
        assetsData.forEach((asset) => {
          let tr = document.createElement("tr");
          tr.innerHTML = `<td class='fund_name'>${asset.fund_name}</td>
          <td class='date_invested'> ${asset.date_invested}</td>
          <td class='commitment_amount'> ${asset.commitment_amount}</td>
          <td class='current_value'> ${asset.current_value}</td>
          <td>
            <button class="stock_btn" data-id="${asset.id}"> DELETE </button>
          </td>`;
          table.appendChild(tr);
        });
      };

      populateUl();

      document.addEventListener('click', function(event) {
          if (event.target && event.target.className === 'stock_btn') {
              const id = event.target.dataset.id;
              if (id) {
                  // Create a form dynamically
                  const form = document.createElement('form');
                  form.method = 'POST';
                  form.action = `forms/functions/delete-private-equity/${id}`;
                  document.body.appendChild(form);
                  form.submit();
              }
          }
      });
    </script>
  {% endblock %}