{% extends "base.html" %}
  {% block content %}
    <!-- Main content -->
    <div class="main-container"> <!-- Adjust margin-left to match sidebar width -->
        <!-- Your main content goes here -->
        <p class="disclaimer"> <span> Hi. </span> You many need to update some data manually. See user manual. </p>
        <h2 class="main-title">Liquid Assets</h2>
        <a type="button" class="new-btn extra" href="/forms/cash-forms">New</a>
        <div class="total-value">
          <h3 class="title">TOTAL PORTFOLIO VALUE</h3>
          <h4 class="value">$ {{data['Liquid-Assets']['total_value']}}</h4>
        </div>
        <div class="assets">
          <table>
            <tr>
              <th>NAME</th>
              <th>TYPE</th>
              <th>BALANCE</th>
              <th>CURRENCY</th>
              <th></th>
            </tr>
          </table>
        </div>
    </div>

  <script>
    const table = document.querySelector(".assets table");
    const assetsData = [];
  
    let serializedStock = {};
    // Iterate through the list of class objects and convert them to JSON serializable dictionaries
    '{% for asset in data["Liquid-Assets"]["cash_accounts"] %}'
        // Call the to_string() method to get a JSON serializable representation
        serializedStock = JSON.parse('{{ asset.to_dict() | tojson | safe }}');
        
        // Add the serialized representation to the 'stocksData' array
        assetsData.push(serializedStock);
    '{% endfor %}'

    const populateUl = () => {
      assetsData.forEach((asset) => {
        let tr = document.createElement("tr");
        tr.innerHTML = `<td class='account_name'>${asset.account_name}</td>
        <td class='account_type'> ${asset.account_type}</td>
        <td class='balance'> ${asset.balance}</td>
        <td class='currency'> ${asset.currency}</td>
        <td>
          <button class="stock_btn" data-id="${asset.id}"> DELETE </button>
        </td>`;
        table.appendChild(tr);
      });
    };

    populateUl();

    document.addEventListener('click', function(event) {
        if (event.target && event.target.className === 'stock_btn') {
            const id = event.target.dataset.id;
            if (id) {
                // Create a form dynamically
                const form = document.createElement('form');
                form.method = 'POST';
                form.action = `forms/functions/delete-account/${id}`;
                document.body.appendChild(form);
                form.submit();
            }
        }
    });
  </script>
  {% endblock %}