{% extends "base.html" %}
  {% block content %}
    <!-- Main content -->
    <div class="main-container"> <!-- Adjust margin-left to match sidebar width -->
        <!-- Your main content goes here -->
        <p class="disclaimer"> <span> Hi. </span> You many need to update some data manually. See user manual. </p>
        <h2 class="main-title">Real Assets</h2>
        <a type="button" class="new-btn extra" href="/forms/real-estate-forms">New</a>
        <div class="total-value">
          <h3 class="title">TOTAL PORTFOLIO VALUE</h3>
          <h4 class="value">$ {{data['Real-Assets']['total_value']}}</h4>
        </div>
        <div class="assets">
          <table>
            <tr>
              <th>NAME</th>
              <th>TYPE</th>
              <th>LOCATION</th>
              <th>VALUE</th>
              <th></th>
            </tr>
          </table>
        </div>
    </div>

  <script>
    const table = document.querySelector(".assets table");
    const estatesData = [];
  
    let serializedStock = {};
    // Iterate through the list of class objects and convert them to JSON serializable dictionaries
    '{% for estate in data["Real-Assets"]["real_estate"] %}'
        // Call the to_string() method to get a JSON serializable representation
        serializedStock = JSON.parse('{{ estate.to_dict() | tojson | safe }}');
        
        // Add the serialized representation to the 'stocksData' array
        estatesData.push(serializedStock);
    '{% endfor %}'

    const populateUl = () => {
      estatesData.forEach((estate) => {
        let tr = document.createElement("tr");
        tr.innerHTML = `<td class='property_name'>${estate.property_name}</td>
        <td class='property_type'> ${estate.property_type}</td>
        <td class='location'> ${estate.location}</td>
        <td class='value'> ${estate.value}</td>
        <td>
          <button class="stock_btn" data-id="${estate.id}" > DELETE </button>
        </td>`;
        table.appendChild(tr);
      });
    };

    populateUl();

    document.addEventListener('click', function(event) {
        if (event.target && event.target.className === 'stock_btn') {
            const id = event.target.dataset.id;
            if (id) {
                // Create a form dynamically
                const form = document.createElement('form');
                form.method = 'POST';
                form.action = `forms/functions/delete-property/${id}`;
                document.body.appendChild(form);
                form.submit();
            }
        }
    });
  </script>
  {% endblock %}